$color-body:#ffe0d6;
$color-button:#f0552e;
$color-text: #f83200;
$color-border:#f88853;
body{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    background-color: $color-body;
}
.row-content{
    padding: 40px 0px;
}
.navbar-brand{
    color: $color-text;
    font-family: Lobster, "cursive";
    font-size: 1.9em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    img{
        height: 100px;
        width: 100px;
    }
}
.nav-link {
    color: black;
    
}
.bg-1{
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: $color-body;
    .menu{
        background-color: rgba($color: #000000, $alpha: 0);
        
    }
    
    .intro{
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%,-50%);
        line-height: 30px;
        h1{
            font-weight: 700;
            letter-spacing: 5px;
        }
        button{
            text-transform: capitalize;
            margin-top: 30px;
            background-color: $color-button;
            color: white;
            border: $color-button 2px solid;
        }
        button:hover{
            font-weight: 600;
        }
        button:nth-child(2){
            background-color: rgba($color: #000000, $alpha: 0);
            border: 2px solid $color-button;
            color: $color-button;
        }
    }
}
@media only screen and (max-width: 993px) {
    .navbar{
        padding: 0;
        text-align: center;
        
    }
    li{
      background-color: $color-body;
      position: relative;
      width: 100%;
      margin: 0;
      z-index: 999;
    }
  }
  .bg-2{
      background-image: linear-gradient(to bottom,$color-body,$color-body,$color-body,white);
        padding-bottom: 50px;
      p{
        font-size: 0.9em;
        width: 80%;
        height: 100%;
        overflow: hidden;
    }
    .icon-text{
        
        i{
            font-size: 3.9em;
            color: $color-button;
            padding-bottom: 50px;
        }
    }
    }
    //this is for the range slide button ***start here***
    .slidecontainer {
        width: 100%; /* Width of the outside container */
        position: relative;
    }
      
      /* The slider itself */
      .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        width: 80%; /* Full-width */
        height: 15px; /* Specified height */
        background: #f7ae9c; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        transition: all ease-in-out 300ms;
      }
      
      /* Mouse-over effects */
      .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
      }
      //hide the selector
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 40px;
        z-index: 999;
        height: 50px;
        border: 0;
        border-radius: 50%;
        background: url('/img/lock.png');
        background-size: cover;
        
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 40px;
        z-index: 999;
        height: 50px;
        border: 0;
        border-radius: 50%;
        background: url('/img/lock.png');
        background-size: cover;
        
        cursor: pointer;
      }
    //***ends here***
//background 03
.bg-3{
    background-color: white;
    .header-3{

        margin-bottom: 80px;
    }
    .setup-tab{
        background-color: $color-body;
        border: 2px solid $color-border;
        border-radius: 5px;
        padding-bottom: 30px;
        .tab-header{
            width: 100;
            background-image: linear-gradient(to right,$color-button,$color-border);;
            color: white;
            font-weight: 600;
        }
        button{
            background-color: $color-button;
            border: 1px solid $color-button;
            color: white;
            font-weight: 400;
        }
        button:hover{
            background-color: rgb(250, 110, 54);
            color: white;
        }
        input{
            border: 2px solid $color-border;
            border-radius: 5px;
            color: $color-text;
        }
    }
}