body {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  background-color: #ffe0d6; }

.row-content {
  padding: 40px 0px; }

.navbar-brand {
  color: #f83200;
  font-family: Lobster, "cursive";
  font-size: 1.9em;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
  .navbar-brand img {
    height: 100px;
    width: 100px; }

.nav-link {
  color: black; }

.bg-1 {
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffe0d6; }
  .bg-1 .menu {
    background-color: rgba(0, 0, 0, 0); }
  .bg-1 .intro {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    line-height: 30px; }
    .bg-1 .intro h1 {
      font-weight: 700;
      letter-spacing: 5px; }
    .bg-1 .intro button {
      text-transform: capitalize;
      margin-top: 30px;
      background-color: #f0552e;
      color: white;
      border: #f0552e 2px solid; }
      .bg-1 .intro button a {
        text-decoration: none;
        color: white; }
      .bg-1 .intro button #quick {
        color: #f0552e; }
    .bg-1 .intro button:hover {
      font-weight: 600; }
    .bg-1 .intro button:nth-child(2) {
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid #f0552e;
      color: #f0552e; }

@media only screen and (max-width: 993px) {
  .navbar {
    padding: 0;
    text-align: center; }
  li {
    background-color: #ffe0d6;
    position: relative;
    width: 100%;
    margin: 0;
    z-index: 999; } }

.bg-2 {
  background-image: linear-gradient(to bottom, #ffe0d6, #ffe0d6, #ffe0d6, white);
  padding-bottom: 50px; }
  .bg-2 p {
    font-size: 0.9em;
    width: 80%;
    height: 100%;
    overflow: hidden; }
  .bg-2 .icon-text i {
    font-size: 3.9em;
    color: #f0552e;
    padding-bottom: 50px; }

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
  position: relative; }

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  width: 80%;
  /* Full-width */
  height: 15px;
  /* Specified height */
  background: #f7ae9c;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  transition: all ease-in-out 300ms; }

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */ }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  z-index: 999;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background: url("/img/lock.png");
  background-size: cover;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 40px;
  z-index: 999;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background: url("/img/lock.png");
  background-size: cover;
  cursor: pointer; }

.bg-3 {
  background-color: white; }
  .bg-3 .header-3 {
    margin-bottom: 80px; }
  .bg-3 .setup-tab {
    background-color: #ffe0d6;
    border: 2px solid #f88853;
    border-radius: 5px;
    padding-bottom: 30px; }
    .bg-3 .setup-tab .tab-header {
      width: 100;
      background-image: linear-gradient(to right, #f0552e, #f88853);
      color: white;
      font-weight: 600; }
    .bg-3 .setup-tab button {
      background-color: #f0552e;
      border: 1px solid #f0552e;
      color: white;
      font-weight: 400; }
    .bg-3 .setup-tab button:hover {
      background-color: #fa6e36;
      color: white; }
    .bg-3 .setup-tab input {
      border: 2px solid #f88853;
      border-radius: 5px;
      color: #f83200; }

.bg-4 {
  padding-top: 40px; }
  .bg-4 .header-4 {
    margin-bottom: 40px; }
    .bg-4 .header-4 h1 {
      margin-bottom: 30px; }
    .bg-4 .header-4 p {
      width: 70%; }
  .bg-4 img {
    height: 500px;
    width: 100%;
    margin-bottom: 30px; }
  .bg-4 .description-1 {
    position: relative;
    padding: 60px 50px; }
    .bg-4 .description-1 h3, .bg-4 .description-1 p {
      margin-top: 40px; }
    .bg-4 .description-1 .triangle {
      height: 50px;
      width: 50px;
      position: absolute;
      left: 50%;
      bottom: -15px;
      z-index: 3;
      transform: rotate(45deg);
      background-color: #ffe0d6; }
    .bg-4 .description-1 img {
      height: 700px;
      width: 100%; }
    .bg-4 .description-1 p {
      line-height: 50px; }
  .bg-4 .description-2 {
    position: relative;
    padding: 60px 50px;
    background-color: #f5d4ca; }
    .bg-4 .description-2 .triangle {
      height: 50px;
      width: 50px;
      position: absolute;
      left: 50%;
      bottom: -15px;
      z-index: 3;
      transform: rotate(45deg);
      background-color: #f5d4ca; }
    .bg-4 .description-2 p {
      line-height: 30px; }
  .bg-4 .description-3 {
    padding: 60px 50px;
    background-color: #ffc6b5; }
    .bg-4 .description-3 p {
      line-height: 50px; }

.bg-5 {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  overflow-y: hidden; }
  .bg-5 .img-bg-5 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2018/07/01/13/28/access-3509495_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px); }
  .bg-5 h1, .bg-5 h4 {
    text-shadow: white 3px 3px 6px;
    font-weight: 700;
    margin-top: 20px; }

.bg-6 {
  background-image: linear-gradient(to bottom, #252525, black);
  color: white; }
  .bg-6 a {
    text-decoration: none;
    color: white; }
  .bg-6 a, .bg-6 i {
    transition: all ease-in-out 300ms; }
  .bg-6 a:hover {
    color: #f0552e; }
  .bg-6 a:hover i {
    color: #f0552e; }
